{% extends '::layout.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block corps %}

	{% if error is defined %}
		{{error}}
	{% else %}

		<h1>Détails du concept : {{nomConcept}} </h1> <br />
	
		Nom : {{nomConcept}} <br />

		Description : {{descConcept}} <br /><br />

		Terme Vedette associé : {{nomTermeVedette}} <br />
		Descritpion de ce terme : {{descTermeVedette}} <br /><br />

		{% if tabAssocie is not empty %}
			Liste des termes associés : 
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Decription</th>
						</tr>
					</thead>
					<tbody>
						{% for terme in tabAssocie %}
							<tr>
								<td><a href="{{path('ProjetBDDGeneralAfficheTerme', {'nom' : terme.nomTerme})}}" type="button" class="btn btn-default">{{terme.nomTerme}}</a></td>
								<td>{{terme.description}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			Aucun terme associé
		{% endif %}

		{% if tabTraduit is not empty %}
			Liste des termes traduits : 
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Decription</th>
						</tr>
					</thead>
					<tbody>
						{% for terme in tabTraduit %}
							<tr>
								<td><a href="{{path('ProjetBDDGeneralAfficheTerme', {'nom' : terme.nomTerme})}}" type="button" class="btn btn-default">{{terme.nomTerme}}</a></td>
								<td>{{terme.description}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			Aucune traduction possible<br />
		{% endif %}

		{% if tabSynonyme is not empty %}
			Liste des synonymes : 
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Nom</th>
							<th>Decription</th>
						</tr>
					</thead>
					<tbody>
						{% for terme in tabSynonyme %}
							<tr>
								<td><a href="{{path('ProjetBDDGeneralAfficheTerme', {'nom' : terme.nomTerme})}}" type="button" class="btn btn-default">{{terme.nomTerme}}</a></td>
								<td>{{terme.description}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			Aucun synonyme disponible <br />
		{% endif %}
	

	<form method="post" action="{{path('ProjetBDDGeneralRecherche')}}" class="form-inline" style="margin-top:50px; margin-left : 15px;">
            <div class="form-group">
              <input type="hidden" name="nom" value="{{nomConcept}}" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Retour</button>
          </form>
    {% endif %}
{% endblock %}